[submodule "hydro"]
	path = hydro
	url = https://github.com/usepa/opp-efed-hydro
[submodule "efed-lib"]
	path = efed-lib
	url = https://github.com/usepa/opp-efed
[submodule "tools"]
	path = tools
	url = https://github.com/usepa/opp-efed-tools
